@import './base.css';
@import './fonts.css';
@import './reset.css';

body {
  font-family: var(--body-font);
  background: var(--background);
  font-weight: 500;
  color: var(--txt-color);
}

#app {
  display: flex;
  overflow: hidden;
  width: 100%;
}
